# References:
# - https://docs.docker.com/engine/reference/builder/#dockerignore-file
# - https://docs.docker.com/build/building/context/#dockerignore-files

# git
.git/

# github
.github/

# visual studio code
.vscode/

# documentation
docs/

# docker
Dockerfile
docker-compose.yml
.dockerignore

# other
.DS_Store
README.md

# jetbrains
/.idea

# project
/data
/build
/examples
